{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello,World!!</h1>
        <h1>Hello,{% if name %}{{ name }}{% else %}Stranger{% endif %} !!!</h1>
        {% if not known %}
        <p>Nice to meet you!</p>
        {% else %}
        <p>Happy to see you again!</p>
        {% endif %}
        <p>The local time is :{{ moment(current).format("LLL") }}</p>
        <P>That was {{ moment(current).fromNow(refresh=True) }}</P>
    </div>
    {{ wtf.quick_form(form) }}
{% endblock %}